<!-- Solution: card.component.html - replace flipped property with the passed in data-->
<div class="card-container" [ngClass]="{'flipped': card.flipped}">
  <div class="card">
    <div class="front" [style.background]="shield">
      <!-- front content -->
    </div>
    <div class="back" [style.background-image]="shield">
      <!-- back content -->

      <!-- Solution: card.component.html - replace name and image with the passed in data-->
      <img [src]="card.image" [alt]="card.name">
    </div>
  </div>
</div>
