<!-- Solution: card.component.html - replace flipped property with the passed in data-->
<div class="card-container" [ngClass]="{'flipped': card.flipped}">
  <!-- Exercise: Add event emitter (output) to emit when the card is selected-->
  <!-- app.component.html - Pass down 'selectCard' method by 'select' (output)-->
  <!-- card.component.ts - Add new event emitter 'select' (output)-->
  <!-- card.component.ts - Emit 'select' with card as payload-->
  <!-- card.component.html - Add click event and call onClick() method to emit event-->
  <div class="card">
    <div class="front" [style.background]="shield">
      <!-- front content -->
    </div>
    <div class="back" [style.background-image]="shield">
      <!-- back content -->

      <!-- Solution: card.component.html - replace name and image with the passed in data-->
      <img [src]="card.image" [alt]="card.name">
    </div>
  </div>
</div>
