<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; width: 100%;">
  <itu-title></itu-title>
  <ul>
    <!-- Exercise: Repeat card of deck and print out card name using interpolation -->
    <!-- app.component.html - Repeat cards of 'deck' as list item (structual directive) -->
    <!-- app.component.html - Print out card name as list content (interpolation) -->
    <li>item1</li>
    <li>item2</li>
    <li>item3</li>
    <li>item4</li>
    <li>item5</li>
    <li>item6</li>
    <li>item7</li>
    <li>item8</li>
  </ul>
  <itu-background></itu-background>
</div>
